@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.baner {
    width: 100%;
    height: 190px;
    background-image: url('./imagens/arquivos/paisagem.jpg');
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
    box-sizing: border-box;
    
    margin-bottom: 50px;
}

#baner_lazer{
    background-image: url('./imagens/categorias/lazer.jpg');
}
#baner_hotelaria{
    background-image: url('./imagens/categorias/hotelaria.jpg');
}
#baner_gastronomia{
    background-image: url('./imagens/categorias/gastronomia.jpg');
}
#baner_atracoes{
    background-image: url('./imagens/categorias/atrações.jpg');
}
#baner_eventos{
    background-image: url('./imagens/categorias/eventos.jpg');
}
#baner_servicos{
    background-image: url('./imagens/categorias/serviços.jpg');
}

header {
    width: 100%;
    background-color: #009092;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 1px 20px 10px #00000050;
    z-index: 200;
    margin: auto;
}

.content>a>h2 {
    color: #fff;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.content {
    max-width: 1000px;
    margin: auto;
    height: auto;

}

header>.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content>input {
    min-width: 110px;
    border-radius: 50px;
    border: transparent;
    height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 0.7em;
}

h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 0 0 10px #000000bb;
    z-index: 10;
    opacity: 1;
}

.baner>.content {
    padding: 20px;
}

main>.content {
    padding: 10px;
}

/* main>.content *{
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
} */
.categorias {
    margin: 20px 0;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    overflow: auto;
}

.categoria {
    position: relative;
    /* width: 100%; */
    height: auto;
    padding: 10px;
    /* border: 1px solid;; */
    border-radius: 10px;
}

.categoria_img {
    min-width: 140px;
    height: 100px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 10px 1px #0000003f;
}

#lazer_img {
    background-image: url('./imagens/categorias/lazer.jpg');
}

#hotelaria_img {
    background-image: url('./imagens/categorias/hotelaria.jpg');
}

#gastronomia_img {
    background-image: url('./imagens/categorias/gastronomia.jpg');
}
#atracoes_img {
    background-image: url('./imagens/categorias/atrações.jpg');
}

#servicos_img {
    background-image: url('./imagens/categorias/serviços.jpg');
}

#eventos_img {
    background-image: url('./imagens/categorias/eventos.jpg');
}

/* .categoria>h3{
    position: absolute;
    bottom: -25px;
}
} */
.categoria>p {
    color: #0000007a;
}

.content>h3 {
    font-size: 1.6em;
}

.categoria>h3 {
    margin: 10px 0;
}

a{
    text-decoration: none;
    color: #000;
}
.mapa {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.mapa>h3 {
    margin: 20px 0;
}

/* iframe{
    margin: auto;
    width: calc(100% - 10%);
} */
.camada_e{
    width: 100%;
    height: 160px;
    background-color: #000;
}
footer{
    background-color: #009092;
    width: 100%;
    height: 140px;
}
@media screen and (min-width: 300px){
    body{
        font-size: 1.1em;
    }
    
}
@media screen and (min-width: 500px){
    body{
        font-size: 1.2em;
    }
    .baner{
        height: 300px;
    }
    h1{
        font-size: 2.2em;
        margin-top: 50px;
    }
    .content>input {
        width: 270px;
    }
    
    
}
@media screen and (min-width: 700px){
    body{
        font-size: 1.3em;
    }
    
}