* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.baner{
    max-width: 2200px;
    height: 700px;
    background-image: url('./imagens/484.jpg');
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    background-position: center;
}