* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

main {
  height: 100%;
}


.img {
  background: url('../img/Ilha-do-Bananal.jpg') #000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}

.img button {
  all: unset;
}

.overview {
  margin-top: -40px;
  padding: 16px;
  border-radius: 10px;
  background: #ffff;
}

.overview h1 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.overview p {
  font-size: 14px;
  color: #646464;
  line-height: 20px;
  text-justify: center;
}

.categorias {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
}

.categoria {
  position: relative;
  /* width: 100%; */
  height: auto;
  padding: 16px;
  /* border: 1px solid;; */
  border-radius: 10px;
}


.categoria h3 {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.categoria_img {
  background: url('../img/Ilha-do-Bananal.jpg') #000;
  min-width: 140px;
  height: 100px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 10px 1px #0000003f;
}